[submodule "themes/hkmeta-theme"]
	path = themes/hkmeta-theme
	url = https://github.com/pdevty/material-design.git
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
